@font-face {
    font-family: "junglefever";
    src: url('assets/fonts/junglefever.ttf');
}

@font-face {
    font-family: "junglefeverMain";
    src: url('assets/fonts/junglefeverMain.ttf');
}

body {
    background-image: url('./assets/images/SplashScreen/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    position: relative;
    z-index: 10;
}

.cloud1 {
    position: absolute;
    height: 50px;
    width: 50px;
    top: -55px;
    opacity: 0.7;
    animation: linear infinite;
    animation-name: bird-fly;
    animation-duration: 10s;
    overflow: hidden;
}

@keyframes bird-fly {
    0% {
        left: 0%;
        top: 30%;
        transform: rotateZ(-15deg) translateY(-5px);
    }

    100% {
        left: 100%;
        top: 15%;
        transform: rotateZ(5deg) translateY(15px);
    }
}


.cloud2 {
    position: absolute;
    top: 40%;
    height: 70px;
    width: 70px;
    opacity: 0.9;
    animation: linear infinite;
    animation-name: cloud2;
    animation-duration: 15s;
    overflow: hidden;
}

@keyframes cloud2 {
    0% {
        right: 0%;
        top: 50%;
        transform: scaleX(-1) rotateZ(-15deg) translateY(-5px);
    }

    100% {
        right: 100%;
        top: 15%;
        transform: scaleX(-1) rotateZ(5deg) translateY(15px);
    }
}

.cloud3 {
    position: absolute;
    top: 75%;
    opacity: 0.9;
    animation: linear infinite;
    animation-name: cloud3;
    animation-duration: 65s;
    overflow: hidden;
}

@keyframes cloud3 {
    0% {
        left: 0%;
    }

    90% {
        left: 105%;
    }

    91% {
        left: 106%;
        visibility: hidden;
    }

    92% {
        left: -10%;
        visibility: hidden;
    }

    93% {
        left: -9%;
        visibility: visible;
    }

    100% {
        left: 0%;
    }
}

.flower {
    position: absolute;
    width: 100%;
    max-width: 180px;
    bottom: -50px;
    animation: linear infinite;
    animation-name: flower;
    animation-duration: 3s;
    overflow: hidden;
    transform-origin: bottom center;
    z-index: 1;
}

.flower1 {
    left: 20px;
}

.flower2 {
    right: 20px;
}

@keyframes flower {
    0% {
        transform: rotate(0deg);
        transform-origin: bottom center;
    }

    25% {
        transform: rotate(10deg);
        transform-origin: bottom center;
    }

    75% {
        transform: rotate(-10deg);
        transform-origin: bottom center;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: bottom center;
    }
}



@media only screen and (min-width: 1420px) {
    body {
        background-image: url(assets/images/SplashScreen/BG.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}